:root {
    --fundo: #000;
    --cor: #71fc00;
    --cinza: #111111;
}

@font-face {
    font-family: fonteRelogio;
    src: url('fonts/DS-DIGIB.TTF');
}

@keyframes piscar {
    0%, 100% {
        color: var(--fundo);
    }
    50% {
        color: var(--cor);
    }
}

@keyframes fecharLua {
    0% {
        background-color: transparent;
        box-shadow: inset 15px 0px 0px 0px var(--cor);
    }
    25% {
        box-shadow: inset 10px 0px 0px 0px var(--cor);
    }
    50% {
        box-shadow: inset 5px 0px 0px 0px var(--cor);
    }
    75% {
        box-shadow: inset 2px 0px 0px 0px var(--cor);
    }
    100% {
        background-color: var(--cor);
        box-shadow: none; 
    }
}

* {
    font-family: fonteRelogio;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--fundo);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease;
}

body.modo-claro {
    --fundo: #fff;
    --cinza: #d2d1d1;
}

.btn-tema {
    position: fixed;
    top: 3rem;
    right: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check {
    display: none;
}

.rotulo {
    width: 4rem;
    height: 2rem;
    border: 0.2rem solid var(--cor);
    border-radius: 4rem;
    position: relative;
    cursor: pointer;
}

.bola {
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    box-shadow: inset 10px 0px 0px 0px var(--cor);
}

.check:checked + .rotulo .bola {
    transform: translateX(2rem); 
    animation: fecharLua 1s forwards; 
}

.data {
    display: flex;
    gap: 0.5rem;
}

.data span {
    font-size: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    letter-spacing: 1rem;
    color: var(--cor);
}

.data span:not(:last-child)::after {
    content: "/";
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.3rem;
}

.relogio div {
    height: 12rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.relogio span {
    font-size: 12rem;
    display: flex;
    align-items: center;
    color: var(--cor);
}

.separator {
    font-size: 9rem;
    margin-bottom: 1.3rem;
    color: var(--cor);
    animation: piscar 1s infinite;
}

.dias-semana {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4.5rem;
}

.dias-semana span {
    font-size: 4.5rem;
    color: var(--cinza);
}

.dia.active {
    color: var(--cor);
    font-weight: bold;
}

.cor {
    position: fixed;
    bottom: 3rem;
    left: 3rem;
    background-color: var(--cor);
    border-radius: 50%;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
}

.cor input{
    width: 2rem; 
    height: 2rem; 
    position: absolute; 
    opacity: 0; 
    border-radius: 50%; 
    cursor: pointer;
    z-index: 2; 
}

.material-icons.icon {
    font-size: 1.5rem;
    color: var(--fundo); 
    pointer-events: none; 
}